{% extends "layout.html" %}
{% block content %}
    <div class="main-window">
        <div class="flex-container splash" id="splash">
            <header>
                <img src="{{ url_for('static', filename='images/logo/turntable.png') }}" id="logo"/>
                <h1 class="text-primary uncover mt-2"><a href="{{ url_for('home') }}">uncover</a></h1>
            </header>

            <div class="flex-container" id="submit-container">
                <form class="main" action="" id="submit-form" onsubmit="return false;" enctype="multipart/form-data">
                    <input class="btn btn-submit" type="submit" id="ok-btn" value="OK">
                    <div class="text-field">
                        <input type="text" class="form-control" id="text-field" placeholder="last.fm username">
                        <select class="custom-select" id="select-options">
                            <option value="7day">7 days</option>
                            <option value="3month">3 months</option>
                            <option value="12month">1 year</option>
                            <option value="overall" selected>All-time</option>
                            <option value="shuffle">Shuffle</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="flex-container" id="buttons-container">
                <input class="button method btn btn-light" id="by_artist" type="submit" name="submit_button"
                       value="artist">
                <input class="button method btn btn-light active" id="by_username" type="submit" name="submit_button"
                       value="username">
                <input class="button method btn btn-light" type="submit" id="by_spotify" name="submit_button"
                       value="spotify">
            </div>
            <div class="flex-container" id="guess-results-container">
                <h1 id="guess-results-text">Wowee! You guessed 5 out of 9 albums.</h1>
            </div>
            <div class="flex-container game-frame" id="game-frame">
                <div class="lcd-text info-tooltip" data-tooltip="© LCD Soundsystem">
                    <p id="i-heard">I heard</p>
                    <p id="you-have">you have</p>
                    <p id="a-compilation">a compilation</p>
                    <p id="every-good-song">of every good song</p>
                    <p id="ever">ever</p>
                    <p id="done">done</p>
                    <p id="by-anybody">by anybody.</p>
                </div>
            </div>
            <input class="button btn btn-secondary off" type="button" id="play-button" value="PLAY">
        </div>
    </div>
{% endblock content %}
