html, main {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ebecf1;
    font-family: 'Roboto', sans-serif;
    color: #f9fbfa;

}

.flex-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.splash {
    width: 100%;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.game-frame {
    width: 600px;
	height: 600px;
	margin: 0 auto;
/*
    border: 2px solid #c1c6d4;
*/
    border-radius: 10px;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.main {
    width: 600px;
}

.text-input {
    width: 100%;
}
.text-field {
    overflow: hidden;
}
.button {
    width: 200px;
}

.btn-submit {
    float: right;
}

img {
    height: 200px;
}

