html, main {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ebecf1;
    font-family: 'Roboto', sans-serif;
    color: #f9fbfa;

}

.flex-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* div for all the items in the layout's body */
.splash {
    width: 100%;
    padding-top: 5%;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.game-frame {
    width: 600px;
	height: auto;
	margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
}
.main {
    width: 600px;
}

#text-field {
    width: 400px;
    display: flex;
    flex: 1 0 auto;
}
#select-options {
    display: none;
    flex: 1 1 auto;
}
.text-field {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}
.button {
    width: 200px;
}

.it-floats {
    float: right;
}


.btn-submit {
    float: right;
}

.btn-submit:hover {
    background-color: #ed6663;
}

a:hover {
    text-decoration: none;
    color: #ed6663;
}


.cover-art {
    width: 200px;
    height: 200px;
    transition: transform .1s ease;
}
/* magnifies cover art on hover */
.cover-art:hover {
    transform: scale(1.5);
    transition: transform .3s cubic-bezier(.17,.67,.49,1.53);
}

/* failure art width & height */
#failure-art {
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    width: 600px;
    height: 600px;
    -webkit-animation: filter-animation 5s infinite;
}

/* failure art psychedelic animation */
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }

  50% {
    -webkit-filter: sepia(1) saturate(8);
  }

  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}


/* failure art message */
.text-block {
  position: absolute;
  background-color: rgba(220, 53, 69, 0.5);
  color: red;
  padding: 15px 20px 10px 20px;
}

a {
    color: #3b444b;
}
#submit-btn {
    background-color: #3b444b;
    color: #ebecf1;
}
