/* add a custom font 'argesta' */

@font-face {
    font-family: 'argesta_displayregular';
    src: url('font/argestadisplay-regular-webfont.eot');
    src: url('font/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/argestadisplay-regular-webfont.woff2') format('woff2'),
         url('font/argestadisplay-regular-webfont.woff') format('woff'),
         url('font/argestadisplay-regular-webfont.ttf') format('truetype');
}

html, main {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ebecf1; /* main background light grey color */
    font-family: 'argesta_displayregular', sans-serif;
    color: #f9fbfa;
}

/* default text style for the LCD Soundsystem quote */
.lcd-text p {
    font-size: 2rem;
    font-weight: bold;
    color: #3b444b;
    visibility: hidden;
}

/* animation for the LCD Soundsystem quote */
@keyframes showUp {
    60% {
        background-color: #ed6663;
    }

    75% {
        visibility: hidden;
        transform: scale(1.2);
    }

    98% {
/*
        margin-left: -45%;
*/
        transform: scale(1.5);

    }

    100% {
        visibility: visible;
        font-style: oblique;
/*        margin-left: -20%;*/
    }
}

/* LCD Soundsystem quote in several different paragraphs: */
p#i-heard {
    width: 30%;
    font-size: 3rem;
    background-color: #FFDB57;
    margin-top: 0.5rem;
    margin-left: -20%;
    font-weight: 200;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 0.2s forwards;
}

p#you-have {
    font-size: 4rem;
    margin-top: -10%;
    margin-left: -10%;
    line-height: 48px;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 0.3s forwards;
}

p#a-compilation {
    margin-left: 20%;
    font-size: 2rem;
    font-weight: 300;
    line-height: 24px;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 0.4s forwards;
}

p#every-good-song {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding: 0;
    line-height: 24px;
    letter-spacing: 5px;
/*    background-color: #4549B0;*/
    bottom: 2rem;
    height: 0.3rem;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 1s forwards;
}

p#ever {
    font-size: 10rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    padding: 0;
    line-height: 50px;
    letter-spacing: 1px;
    background-color: coral;
    width: 55%;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 1.4s forwards;
}

p#done {
    font-size: 3rem;
    margin-left: 6rem;
    margin-bottom: 0;
    padding: 0;
    line-height: 50px;
    letter-spacing: 1px;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 1.4s forwards;
}

p#by-anybody {
    font-weight: 200;
    font-size: 3rem;
    margin-top: -5%;
    margin-left: 50%;
    padding: 0;
    font-style: oblique;
    animation: showUp 0.5s cubic-bezier(.26,-0.64,.83,1.62) 1.8s forwards;
}

.flex-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-window {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* div for all the items in the layout's body */
.splash {
    width: 100%;
    padding-top: 5%;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    float: left;
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
}

.game-frame {
    width: 600px;
	height: auto;
	margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
}

.main {
    width: 600px;
}

#text-field {
    width: 400px;
    display: flex;
    flex: 1 0 auto;
}

#select-options {
    display: none;
    flex: 1 1 auto;
}

.text-field {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.button {
    width: 200px;
}

.it-floats {
    float: right;
}

#ok-btn {
    float: right;
    background-color: #3b444b;
    color: #ebecf1;
}

#ok-btn:hover {
    background-color: #ed6663; /* sorta orange color */
}

a:hover {
    text-decoration: none;
    color: #ed6663; /* sorta orange color */
}

.cover-art {
    width: 200px;
    height: 200px;
    transition: transform .1s ease;
    opacity: 0;
    animation: show-on-load 0.6s .2s cubic-bezier(0,1.6,.6,1) forwards,
bounce 0.6s .2s cubic-bezier(0,1.6,.6,1) none;

}

@keyframes show-on-load {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
    90% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

#art-1 {
    animation: show-on-load 0.6s .25s cubic-bezier(0,1.6,.6,1) forwards,
                animation: bounce 0.6s .25s cubic-bezier(0,1.6,.6,1) none;
}
#art-2 {
    animation: show-on-load 0.6s .3s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .3s cubic-bezier(0,1.6,.6,1) none;
}
#art-3 {
    animation: show-on-load 0.6s .35s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .35s cubic-bezier(0,1.6,.6,1) none;
}
#art-6 {
    animation: show-on-load 0.6s .4s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .4s cubic-bezier(0,1.6,.6,1) none;
}
#art-5 {
    animation: show-on-load 0.6s .45s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .45s cubic-bezier(0,1.6,.6,1) none;
}
#art-4 {
    animation: show-on-load 0.6s .5s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .5s cubic-bezier(0,1.6,.6,1) none;
}
#art-7 {
    animation: show-on-load 0.6s .55s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .55s cubic-bezier(0,1.6,.6,1) none;
}
#art-8 {
    animation: show-on-load 0.6s .6s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .6s cubic-bezier(0,1.6,.6,1) none;
}
#art-9 {
    animation: show-on-load 0.6s .65s cubic-bezier(0,1.6,.6,1) forwards,
                bounce 0.6s .65s cubic-bezier(0,1.6,.6,1) none;
}



/* magnifies cover art on hover */
.cover-art:hover {
    transform: scale(1.5);
    transition: transform .3s cubic-bezier(.17,.67,.49,1.53);
    z-index: 1;
}

/* failure art width & height */
#failure-art {
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    width: 600px;
    height: 600px;
    -webkit-animation: filter-animation 5s infinite;
}

/* failure art psychedelic animation */
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }

  50% {
    -webkit-filter: sepia(1) saturate(8);
  }

  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}

/* failure art message */
.text-block {
  position: absolute;
  background-color: rgba(220, 53, 69, 0.5);
  color: red;
  padding: 15px 20px 10px 20px;
}

a {
    color: #3b444b;
}

#logo {
    margin-top: 0.75rem;
    float: left;
}

#logo:hover {
    filter: invert(1);
}



/* overrides default bootstrap tooltip styles */
.tooltip-inner {
    background-color: #3b444b; /* main grayish color */
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #3b444b;  /* main grayish color */
}

.loading *,
.loading *:before,
.loading *:after {
  animation-play-state: paused !important;
}

#game-frame {
    color: black;
}

.ldBar {
    width: 200px !important;
    height: auto !important;
}

/* removes % from the progress bar */
.ldBar-label {
   display: none;
}

/* progress bar main line color */
.ldBar path.mainline {
    stroke: #3b444b;
    stroke-width: 2;
}

#info {
    margin: .375rem .75rem;
    color: #3b444b;
    font-size: 1.25rem;
    font-weight: 400;

}

#play-button {
    visibility: hidden;
    opacity: 0;
    background-color: #3b444b;
    color: #ebecf1;
    transform: scale(0.8);
    transition: opacity 0.6s cubic-bezier(0,1.6,.6,1) 1.2s, transform 0.6s cubic-bezier(0,1.6,.6,1) 1.2s;
}

#play-button.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

